.app{
  height: 100%;
  width: 100%;
  padding-top: 2.5rem;
  overflow: auto;
}
.container{
  max-width: 45%;
  margin: 0 auto;
}



@media (max-width: 425px) {
 .container{
  max-width: 90%;
  margin: 0 auto;
 }

}